<h3>Matérias</h3>
<%= link_to "Cadastrar", new_matter_path, class: "btn btn-info" %>

<table class="table table-striped">
  <thead>
    <th></th>
    <th>Nome</th>
    <th>Professor</th>
    <th>Créditos</th>
  </thead>
  <tbody>
    <% @matters.each do |matter| %>
      <tr>
        <td>
          <div class="btn-group">
            <%= link_to content_tag(:i, nil, class: "icon-pencil"), edit_matter_path(matter), class: "btn btn-info btn-xs" %>
            <%= link_to content_tag(:i, nil, class: "icon-trash"), matter_path(matter), method: :delete, confirm: "Deseja remover esta matéria?", class: "btn btn-danger btn-xs" %>
          </div>
        </td>
        <td>
          <%= matter.title %>
        </td>
        <td>
          <%= matter.teacher %>
        </td>
        <td>
          <%= matter.credits %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
