<div class="page-header">
  <h1><i class="icon-dashboard"></i> Dashboard <small>Resumo das atividades</small></h1>
</div>
<h2></h2>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <i class="icon-file-text-alt"></i> Provas
        <div class="pull-right">
          <%= link_to content_tag(:i, nil, class: 'icon-plus'), '#', 
          class: "add-exam toggle-trigger", data: { target: ".exam-form" } %>
        </div>
        <div class="<%= "hide" if @exam.new_record? && @exam.errors.blank? %> exam-form">
          <%= render "exams/form" %>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <th width="43px"></th>
          <th>Matéria</th>
          <th>Data</th>
        </thead>
        <tbody>
        <% @exams.each do |exam| %>
        <tr>
          <td>
            <%= link_to(content_tag(:i, nil, class: 'icon-pencil'), edit_exam_path(exam)) %>
            <%= link_to(content_tag(:i, nil, class: 'icon-trash'), exam_path(exam),
            title: 'Remover', confirm: "Deseja remover esta prova?", method: :delete) %>
          </td>
          <td><%= exam.course.try(:title) %></td>
          <td><%= exam.dt_exam %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <div class="panel-footer text-center">
        <%= will_paginate @exams, param_name: :exam_page  %>
        <% if @exams.count >= 1 %>
        <%= page_entries_info @exams %>
        <% else %>
        <span>Nenhuma prova cadastrada</span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <i class="icon-briefcase"></i> Trabalhos
        <div class="pull-right">
          <%= link_to content_tag(:i, nil, class: 'icon-plus'), "#", 
          class: "add-work toggle-trigger", data: { target: ".work-form" }  %>
        </div>
        <div class="<%= "hide" if @work.new_record? && @work.errors.blank? %> work-form">
          <%= render "works/form" %>
        </div>
      </div>
      <table class="table">
        <thead>
          <th width="43px"></th>
          <th>Tema</th>
          <th>Matéria</th>
          <th>Apresentação</th>
          <th>Progresso</th>
        </thead>
        <tbody>
        <% @works.each do |work| %>
        <tr>
          <td>
            <%= link_to(content_tag(:i, nil, class: 'icon-pencil'), edit_work_path(work)) %>
            <%= link_to(content_tag(:i, nil, class: 'icon-trash'), work_path(work), 
            title: 'Remover', confirm: "Deseja remover este trabalho?", method: :delete) %>
          </td>
          <td><%= work.title %></td>
          <td><%= work.course.try(:title) %></td>
          <td><%= work.final_dt %></td>
          <td>
            <%= bootstrap_progress_bar(work.sections_done(work.id), message: work.sections_percent(work.id), color: 'info') %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <div class="panel-footer text-center">
        <%= will_paginate @works, param_name: :work_page %>
        <% if @works.count >= 1 %>
        <%= page_entries_info @works %>
        <% else %>
        <span>Nenhum trabalho cadastrado</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <i class="icon-bar-chart"></i> Controle de Notas
      </div>
      <table class="table">
        <thead>
          <th width="43px"></th>
          <th>Matéria</th>
          <th>Professor</th>
          <th>1ª Unidade</th>
          <th>2ª Unidade</th>
          <th>Situação</th>
        </thead>
        <tbody>
        <tr>
          <td>
            <%= link_to(content_tag(:i, nil, class: 'icon-pencil'), "#") %>
            <%= link_to(content_tag(:i, nil, class: 'icon-trash'), "#") %>
          </td>
          <td>Gerência de Projetos</td>
          <td>Jenifer Vieira</td>
          <td>8,0</td>
          <td>--</td>
          <td>--</td>
        </tr>
        </tbody>
      </table>
      <div class="panel-footer text-center">Paginação</div>
    </div>
  </div>
</div>

