<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">	
        Provas
        <div class="pull-right">
          <%= link_to content_tag(:i, nil, class: 'icon-plus'), new_work_path, :title => "Exibir", class: "iframe", "data-fancybox-type" => "iframe" %>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <th width="43px"></th>
          <th>Matéria</th>
          <th>Data</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to(content_tag(:i, nil, class: 'icon-pencil btn-t'), "#") %>
              <%= link_to(content_tag(:i, nil, class: 'icon-trash'), "#") %>
            </td>
            <td>Desenvolvimento de Software</td>
            <td>25/11/2013</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer text-center">Paginação</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        Trabalhos
        <div class="pull-right">
          <%= link_to content_tag(:i, nil, class: 'icon-plus'), "#", class: "add-work toggle-trigger", data: { target: ".work-form" }  %>
        </div>
        <div class="<%= "hide" if @work.new_record? %> work-form">
          <%= render "works/form" %>
        </div>
      </div>
      <table class="table">
        <thead>
          <th width="43px"></th>
          <th>Título</th>
          <th>Matéria</th>
          <th>Apresentação</th>
        </thead>
        <tbody>
          <% @works.each do |work| %>
            <tr>
              <td>
                <%= link_to(content_tag(:i, nil, class: 'icon-pencil'), edit_work_path(work)) %>
                <%= link_to(content_tag(:i, nil, class: 'icon-trash'), work_path(work), title: 'Remover', confirm: "Deseja remover este trabalho?", method: :delete) %>
              </td>
              <td><%= work.title %></td>
              <td><%= work.matter.title %></td>
              <td><%= work.final_dt.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="panel-footer text-center">Paginação</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">	
        Controle de Notas
      </div>
      <table class="table">
        <thead>
          <th width="43px"></th>
          <th>Matéria</th>
          <th>Professor</th>
          <th>1ª Unidade</th>
          <th>2ª Unidade</th>
          <th>Situação</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to(content_tag(:i, nil, class: 'icon-pencil'), "#") %>
              <%= link_to(content_tag(:i, nil, class: 'icon-trash'), "#") %>
            </td>
            <td>Gerência de Projetos</td>
            <td>Jenifer Vieira</td>
            <td>8,0</td>
            <td>--</td>
            <td>--</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer text-center">Paginação</div>
    </div>
  </div>
</div>

