<% if @exam.errors.any? %>
<div class="alert alert-danger">
  Há erros no formulário, por favor verifique.
</div>
<% end %>

<%= simple_nested_form_for @exam, defaults: { label_html: { class: 'form-title' } }, html: { class: 'form-horizontal' } do |f| %>
<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li>
      <%= f.association :matter, prompt: "Selecione", input_html: { class: 'form-control' } %>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li>
      <%= f.input :dt_exam, as: :string, input_html: { class: 'form-control datepicker', value: f.object.dt_exam } %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li>
      <%= f.input :location, input_html: { class: 'form-control' } %>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li>
      <%= f.input :grade, as: :string, input_html: { class: 'form-control' } %>
      </li>
    </ul>
  </div>
</div>

<%= f.simple_fields_for :subjects do |s| %>
<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li>
      <%= s.input :name, input_html: { class: 'form-control' } %>
      <%= s.link_to_remove "Remover" %>
      </li>
      <li>
      <%= f.link_to_add "Adicionar Assunto", :subjects %>
      </li>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li>
      <%= f.submit "Salvar", class: 'btn btn-primary' %>
      </li>
    </ul>
  </div>
</div>
<% end %>

