<% if @exam.errors.any? %>
<div class="alert alert-danger">
  Há erros no formulário, por favor verifique.
</div>
<% end %>

<%= simple_nested_form_for @exam, defaults: { label_html: { class: 'form-title' } }, html: { class: 'form-horizontal' } do |f| %>
<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li>
      <%= f.association :course, prompt: "Selecione", input_html: { class: 'form-control' } %>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li>
      <%= f.input :dt_exam, as: :string, input_html: { class: 'form-control datepicker', value: f.object.dt_exam } %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li>
      <%= f.input :location, input_html: { class: 'form-control' } %>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li>
      <%= f.input :grade, as: :string, input_html: { class: 'form-control' } %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <table id="subjects">
    <thead>
      <tr>
        <th class="col-md-10">Assunto</th>
        <th class="col-md-2"></th>
      </tr>
    </thead>
    <%= f.simple_fields_for :subjects, defaults: { label: false }, wrapper: false do |s| %>
    <tr class="fields">
      <td class="col-md-10"><%= s.input :name, input_html: { class: 'form-control' } %></td>
      <td class="col-md-2"><%= s.link_to_remove content_tag(:i, nil, class: 'icon-remove') + " Remover", class: 'btn btn-sm btn-danger' %>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.link_to_add content_tag(:i, nil, class: 'icon-plus') + " Adicionar Assunto", :subjects, data: { target: '#subjects' }, class: 'btn btn-sm btn-default' %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-unstyled">
        <li>
        <%= f.submit "Salvar", class: 'btn btn-primary' %>
        </li>
      </ul>
    </div>
  </div>
  <% end %>

