<!DOCTYPE html>
<html>
  <head>
    <title>Controle Acadêmico</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <div class="top-row col-md-12">
        <% if user_signed_in? %>
        <%= image_tag(current_user.avatar_file_name, class: 'img-rounded img-user') %>
         <div class="caption">
          <%= current_user.name %>
        <% end %>
          <div class='pull-right'>
            <% unless user_signed_in? %>
            <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
            <% else %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete if user_signed_in? %>
            <% end %>
        </div>
      </div>
      </div>
    </header>
    <div class="col-md-12">
      <% flash.each do |key, f| %>
      <div class="alert alert-<%= key %>">
        <%= f %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <%= yield %>
    </div>
  </body>
</html>
